body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.align-left {
  text-align: left;
  float: left;
}

.align-right {
  text-align: right;
  float: right;
}

.inline {
  display: inline;
}

.margin {
  margin: 10px;
}

.margin-sm-top {
  margin: 17px;
}

.margin-left {
  margin-left: 10px;
}

.margin-right {
  margin-right: 10px;
}

.margin-top {
  margin-top: 10px;
}

.font-size-1 {
  font-size: 1rem;
}

.font-size-2 {
  font-size: 2rem;
}

.bold {
  font-weight: bold;
}

.bg-gray {
  background-color: #c9c6bd;
}

.selected-invoice {
  height: 400px;
  width: 30%;
  border: solid black 5px;
  border-radius: 2px;
  margin-left: 3px;
}

.pay-invoice {
  padding: 20px;
}

.padding {
  padding: 10px;
}

.payment-slip {
  border: solid black 5px;
  border-radius: 2px;
  width: 55%;
  height: 400px;
  display: inline;
  float: left;
  margin-left: 30px;
  position: relative;
}

.payment-slip-table {
  width: 100%;
}

.payment-slip-field {
  width: 350px;
}

.block {
  display: block;
}

.pay-button {
  float: right;
  margin-right: 90px;
}

.invoices-div {
  display: inline-block;
  width: 40%;
  padding: 0 40px;
}

.stavke-div {
  display: inline-block;
  width: 60%;
}

.table-wrapper {
  display: flex;
}

.table-wrapper .invoices-div {
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 auto;
}

.display-block {
  display: block;
}

.zatvaranje-table {
  width: 70%;
  margin: 0 auto;
}

.selected-div-invoice {
  display: inline-block;
  width: 40%;
  padding: 0 40px;
}

.selected-div-stavka {
  display: inline-block;
  width: 60%;
  padding: 0 40px;
}

.error-toast {
  position: fixed;
  float: right;
  z-index: 500;
  bottom: 20px;
  right: 20px;
}

.download-pdf-div {
  margin: 20px;
  padding: 20px;
  background-color: burlywood;
  border-radius: 10px;
  display: inline-block;
}

.import {
  margin: 0 auto;
  text-align: center;
}
